<header>
  <div class="left-nav">
    <img
      class="logo"
      src="../assets/images/github_PNG40.png"
      alt="Website Logo"
    />
    <h1>Octodex</h1>
    <ul>
      <li><a href="#" routerLink="/">Home</a></li>
      <li><a href="#" routerLink="/">FAQ</a></li>
    </ul>
  </div>
  <div class="right-nav">
    <ul>
      <li><a href="#" routerLink="/">Follow us on Twitter</a></li>
      <li><a href="#" routerLink="/">Back to GitHub.com</a></li>
    </ul>
  </div>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>
